.episode-box {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9e00;
  background-color: #343a40;
  border-radius: 8px;
  cursor: pointer;
}

.episode-box:hover {
  background-color: #212529;
}
