.anime-upload {
  width: 60%;
  background-color: #343a40;
  padding: 30px 60px 50px 60px;
  margin: 30px auto;
  border-radius: 12px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;

  color: #dee2e6;
}
.anime-upload .title {
  margin-bottom: 12px;
}

.anime-upload .title h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.anime-upload .anime-form {
  display: flex;
  gap: 24px;
}

.anime-upload .anime-form div {
  width: 100%;
}

.anime-upload .anime-form div .textfield {
  margin-bottom: 16px;
}

/* 
.anime-upload-form div div  */
